#kolumna1
{
    float: left;
    width: 20%;
    height: 95vh;
    background-color:yellow;
}
#kolumna2
{
    float: left;
    width: 60%;
    height: 95vh;
    background-color:green;
}
#kolumna3
{
    float: left;
    width: 20%;
    height: 95vh;
    background-color:red;
}
.card
{
    margin-top: 20%;

}
.lewo
{
    height: 100vh;
    width: 20%;
}
.srodek
{
    height: 100%;
    width: 60%;
}
.prawo
{
    height: 100vh;
    width: 20%;
}
.row > div[class*='col-'] {
    display: flex;
  }
.row {
    display: flex;
    flex-wrap: wrap;
 }
 body
 {
     padding-bottom: 130px;
 }