body {
    background-color: #eeeeee;
}

.ownSpace {
    margin-top: 80px;
}

.col-6 {
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 0;
    padding-left: 0;
}

/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  text-align: center;
}
*/
